logs/
*.log

node_modules/
dist/
dist-ssr/
*.local

.vscode/
!.vscode/extensions.json
.idea
.DS_Store
.env
.env.*
*.suo
*.sln
*.sw?
*.ntvs*
*.njsproj

.cache/
.parcel-cache/
.vite/

save/
saves/
*.save

config.local.*
settings.local.*

